<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Конвертер валют</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Выход">
</form>

<form th:method="POST" th:action="@{/converter}" class="listForm" id="convertForm" th:object="${convertForm}">
    <div class="selectors">
        <h1>Конвертер валют</h1>
        <div class="form-inline">
            <select style="width: 300px" class="form-control" id="currency1" th:field="*{firstCurrency}">
                <option th:each="currency: ${currencies}" th:value="${currency.charCode}" th:utext="${currency.charCode} + ' (' + ${currency.name} + ')'"></option>
            </select>
            <select style="width: 300px" class="form-control" id="currency2" th:field="*{secondCurrency}">
                <option th:each="currency: ${currencies}" th:value="${currency.charCode}" th:utext="${currency.charCode} + ' (' + ${currency.name} + ')'"></option>
            </select>
        </div>
    </div>
    <div class="form-inline">
        <input style="width: 300px" type="text" class="form-control" id="amount" th:field="*{amount}"/>
        <input style="width: 300px" type="text" class="form-control" id="result" placeholder="результат" th:value="${result}" readonly>
        <h6 style="color: red" th:if="${#fields.hasErrors('amount')}">число не должно быть отрицательным</h6>
    </div>
    <button type="submit" id="btn-convert" class="btn btn-primary btn-lg">Конвертировать</button>
</form>

<hr/>

<form class="listForm" action="/history">
    <button type="submit" id="btn-redirect" class="btn btn-primary btn-lg">История конвертаций</button>
</form>

</body>
</html>