<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>История конвертаций</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<form th:method="POST" th:action="@{/history}" class="listForm" id="historyForm" th:object="${historyForm}">
    <h1>История</h1>
    <div class="form-inline">
        <select style="width: 300px" class="form-control" id="firstCurrency" th:field="*{firstCurrency}">
            <option th:each="currency: ${currencies}" th:value="${currency.charCode}" th:utext="${currency.charCode} + ' (' + ${currency.name} + ')'"></option>
        </select>
        <select style="width: 300px" class="form-control" id="secondCurrency" th:field="*{secondCurrency}">
            <option th:each="currency: ${currencies}" th:value="${currency.charCode}" th:utext="${currency.charCode} + ' (' + ${currency.name} + ')'"></option>
        </select>
        <input type="date" class="form-control" id="historyDate" th:field="*{date}"/>
    </div>
    <h6 style="color: red" th:if="${#fields.hasErrors('date')}">дата не может быть в будущем</h6>

    <table style="width: 50%" class="table table-striped" id="historyTable">
        <thead class="thead-light">
            <tr>
                <th>Исходная валюта</th>
                <th>Валюта конвертации</th>
                <th>Исходная сумма</th>
                <th>Курс</th>
                <th>Результат конвертации</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="exchange : ${exchangeHistory}">
                <td th:text="${exchange.firstCurrency.charCode}"></td>
                <td th:text="${exchange.secondCurrency.charCode}"></td>
                <td th:text="${exchange.amountFirstCurrency}"></td>
                <td th:text="${exchange.rate}"></td>
                <td align="center" th:text="${exchange.resultOfConversion}"></td>
                <td th:text="${exchange.madeAt}"></td>
            </tr>
        </tbody>
    </table>

    <h3 style="margin-left: 10%">Статистика за неделю</h3>
    <table style="width: 50%" class="table table-striped" id="statisticTable">
        <thead class="thead-light">
            <tr>
                <th>Исходная валюта</th>
                <th>Валюта конвертации</th>
                <th>Средний курс</th>
                <th>Объём конвертаций</th>
                <th>Даты</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${weekStatistic.firstCurrency}"></td>
                <td th:text="${weekStatistic.secondCurrency}"></td>
                <td th:text="${weekStatistic.averageRate} ? ${weekStatistic.averageRate} : '---'"></td>
                <td th:text="${weekStatistic.overallSum} ? ${weekStatistic.overallSum} : '---'"></td>
                <td th:text="${weekStatistic.startDate} ? (${weekStatistic.startDate} + ' - ' + ${weekStatistic.finishDate}) : '---'"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" id="btn-search" class="btn btn-primary btn-lg">Поиск</button>
</form>

<br/>
<hr/>

<form class="listForm" action="/converter">
    <button type="submit" id="btn-redirect" class="btn btn-primary btn-lg">Конвертировать валюту</button>
</form>
</body>
</html>